.navigation {
    position: fixed;
    top: 0;
    right: -660px;

    width: 660px;
    height: 100%;
    padding: 66px 80px 32px 54px;

    background: #0b2e5b;
    transition: all 0.6s;
}

.navigation.active {
    transform: translateX(-600px);
}

.navigation  h2 {
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: 700;
}

@media(max-width: 750px) {
    .navigation {
        padding: 70px 40px 40px;
    }
}


@media(max-width: 768px) {
    .navigation {
        width: 100vw;
        right: -100vw;    
    }
    .navigation.active {
        transform: translateX(-100vw);
    }
}

@media(max-width: 650px) {
    .navigation {
        padding: 44px 24px 24px;
    }
}

@media(max-width: 1020px) {
    .navigation {
        height: 1000px;
        overflow: auto;
        padding-right: 19px;
    }

    .navigation::-webkit-scrollbar {
        width: 0.820rem;
    }

    .navigation::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.4);
    }

    .navigation ::-webkit-scrollbar-thumb {
        background: var(--primary);
    }
}

